
.a-wrapper {
    position: relative;
}

.aboutBg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.a-container {
    flex: 1;
    position: relative;
    gap: 1rem;
    height: 100%;
    justify-content: space-evenly;
}


/* left side styling */
.a-imageSmall {
    border-radius: 5px;
    background-color: #eeeeff;
    width: 130px;
    height: 170px;
    position: absolute;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.5s ease-out; /* Smoothly transition opacity */
    bottom: -100px; /* Start from below the page */
}

.pos1 {
    top: 60px;
    left: 80px;
    animation: slideUp 0.5s ease-out 0.2s forwards;
}
.pos2 {
    bottom: 70px;
    left: 480px;
    animation: slideUp 0.5s ease-out 0.4s forwards;
}

@keyframes slideUp {
    to {    
        opacity: 1; /* Fade in when reaching the final position */
    }
}

.a-imageSmall>img {
    height: 100%;
    padding: 0.5rem;
}

.a-imageBig img {
    border-radius: 5px;
    height: 500px;
}

/* Right Side Styling */
.a-right {
    /* height: 100%; */
    gap: 2rem;
    justify-content: flex-start;
}

.a-heading {
    gap: 1rem;
}

.a-panel {
    gap: 2rem;
} 

.panel {
    gap: 1.5rem;
    align-items: flex-start;
}

.panelText {
    gap: 0.3rem;
}

/* Media query for mobile views */
@media (max-width: 767px) {
    .a-imageSmall {
        display: none; /* Hide on mobile screens */
    }

    .pos2 {
        bottom: 0; /* Adjust position for mobile */
        left: 50%; /* Center on mobile */
        transform: translateX(-50%);
    }
}


